.publish {
	background: #f6f5f7;
}

.titleBox {
	@include flexbox();
	@include flex-direction(row);
	@include justify-content(space-between);
	padding: 8px 12px 0 12px;
	.select_box {
	    @include flexbox();
	    @include flex-direction(row);
	    @include flex(1);
	    @include align-items(center);
        position: relative;
	    height: 30px;
	    background: #6E3FFF;
	    border-radius: 28px;
        i {
        	display: block;
        	width: 86px;
        	height: 20px;
        	line-height: 20px;
        	font-size: 14px;
        	color: #fff;
        	text-indent: 7%;
        	border-right: 1px solid #fff;
        }
	    span {
	    	@include flex(1);
	      	display: block;
	      	height: 30px;
	      	font-size: 14px;
	      	color: #fff;
	     	line-height: 30px;
	     	text-indent: 22%;
	    	border-radius: 30px;
	    	background: #6E3FFF url('/images/icons/sanjiao_bottom.png') no-repeat 66% center;
	    	background-size: 12px 7px;
	    }
	    ul{
	    	position: absolute;
	    	top: 0;
	    	left: 87px;
	    	right: 0;
	    	z-index: 1;
				background: #6E3FFF;
				border-radius: 0 14px 14px 14px;
				overflow: hidden;
	     	li {
		        width: 100%;
		        height: 30px;
		        font-size: 14px;
		        line-height: 30px;
		        text-align: center;
						color: #fff;
		        background: #6E3FFF;
		        border-bottom: 1px solid #ccc;
		    }
	    }
    }
    .backBtn {
    	display: block;
    	width: 34px;
    	height: 30px;
    	margin-left: 11px;
    	font-size: 16px;
    	color: #999;
    	line-height: 30px;
    	text-align: center;
    }
}
.whyBox {
	position: relative;
	margin-top: 15px;
	.pullDownBox {
		width: 290px;
		height: 40px;
		margin: 0 auto;
		color: #808080;
		text-indent: 50px;
		line-height: 40px;
		border: 1px solid #b0afb0;
		border-radius: 30px;
		background: url('/images/icons/downDoubleTick.png') no-repeat 12px center;
		background-size: 28px 27px;
		span {
			display: block;
			height: 40px;
			font-size: 14px;
			line-height: 40px;
		}
	}
	ul {
		width: 90%;
		margin: 0 auto;
		margin-top: 5px;
		background: #fff;
		overflow: hidden;
		li {
			@include flexbox();
			@include flex-direction(row);
			@include justify-content(space-between);
			height: 50px;
			border-bottom: 1px solid #e5e5e5;
			.pullDownText {
				display: block;
				width: 120px;
				height: 20px;
				font-size: 14px;
				color: #000;
				line-height: 20px;
				text-align: right;
				margin-top: 15px;
				padding: 0 10px;
				border-right: 1px solid #e5e5e5;
			}
			.inputBox {
				@include flex(1);
				@include flexbox();
				@include flex-direction(row);
				@include justify-content(space-between);
				height: 28px;
				margin-left: 7px;
				margin-top: 11px;
				span {
					height: 28px;
					line-height: 28px;
					font-size: 14px;
					color: #808080;
				}
				input {
					@include flex(1);
					width: 100%;
					height: 26px;
					font-size: 14px;
					color: #000;
					line-height: 26px;
					border: 0;
					// opacity: 0;
					// filter: alpha(opacity = 0);
				}
				button{
					width: 50px;
					height: 26px;
					border-radius: 0;
					flex-shrink: 0;
				}
				i {
					display: block;
					width: 36px;
					height: 26px;
					font-size: 14px;
					color: #808080;
					text-align: left;
					line-height: 26px;
				}
			}
			.companyImg{
				img{
					height: 44px;
					margin-top: 3px;
				}
			}
			.changeImg{
				height: 25px;
				padding: 0 6px;
				border-radius: 25px;
				border: 1px solid #333;
				line-height: 25px;
				margin-top: 12px;
			}
		}
		.textArea {
			margin: 21px 0 6px 0;
			span {
				display: block;
				margin-left: 20px;
				font-size: 14px;
				color: #000;
				i {
					display: inline-block;
					margin-left: 11px;
					font-size: 12px;
					color: red;
				}
			}
			textarea {
				padding: 5px 10px;
				display: block;
				width: 98%;
				min-height: 130px;
				margin: 0 auto;
				border: 1px solid #808080;
				resize: none;
			}
		}
	}
	.whyText {
		display: block;
		margin-top: 17px;
		font-size: 19px;
		color: #0000ff;
		text-align:center;
		text-indent: 15px;
	}
}

.contentBox {
	padding: 0 15px;
	.cityBox {
		margin-top: 30px;
		.cityTitle {
		    display: block;
		    font-size: 15px;
		    color: #0b0b0c;
		    font-weight: 600;
		    text-indent: 4px;
		}
		.cityList {
			margin-top: 12px;
			overflow: hidden;
			span {
				display: block;
				float: left;
				height: 27px;
				padding: 0 14px;
				margin: 0 0 7px 7px;
				font-size: 13px;
				color: #808080;
				line-height: 27px;
				border: 1px solid #ccc;
				border-radius: 27px;
			}
			.spanSelected {
				background: red;
				color: #fff;
			}
		}
	}
}
#title{
	border-top: 1px dashed #0000ff;
}
.submitBox {
	width: 93%;
	margin: 0 auto;
	margin-top: 19px;
	border-top: 1px solid #b3b3b3;

	#require{
		padding: 5px 10px;
		display: block;
		width: 98%;
		min-height: 130px;
		margin: 0 auto;
		border: 1px solid #808080;
		resize: none;
	}

	ul {
		li {
			@include flexbox();
			@include flex-direction(row);
			padding-top: 27px;
			padding-bottom: 4px;
			i {
				display: block;
				height: 27px;
				margin-right: 6px;
				color: red;
				font-size: 42px;
				line-height: 40px;
			}
			.submitTip {
				display: block;
				height: 27px;
				font-size: 14px;
				color: #000;
				line-height: 27px;
			}
			.inputBox_sub {
				@include flex(1);
				@include flexbox();
				@include flex-direction(row);
				height: 27px;
				margin-left: 7px;
				background: #fff;
				input {
					@include flex(1);
					height: 27px;
					padding-left: 16px;
					border: 0;
					background: #fff;
					font-size: 14px;
					color: #808080;
					line-height: 27px;
				}
				.inputTip {
					display: block;
					width: 37px;
					height: 27px;
					font-size: 14px;
					color: #808080;
					line-height: 27px;
					text-align: left;
				}
			}
		}
	}
	.submitBtn {
		height: 48px;
		width: 66%;
		margin: 0 auto;
		margin-top: 21px;
		margin-bottom: 15px;
		font-size: 23px;
		color: #fff;
		line-height: 48px;
		text-align: center;
		border-radius: 48px;
		background: #6e3fff;
	}
}
.bgAlpha {
	opacity: 0;
	filter: alpha(opacity = 0);
}
